# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
jspm_packages/

# Build
build/
dist/

# Typescript
typings/

# Optional files
.npm
.eslintcache
.node_repl_history
*.tgz

#IDE
.idea
.vscode

# System files
.DS_Store